<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleAdminProducts.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>
    <title>Administraciòn de Productos</title>
</head>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
    <main>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Todos los productos</h2>
				</div>
	
				<% products.forEach(function(product){ 
					let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
				%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img src="/images/productsData/<%= product.image %>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2><%= toThousand(finalPrice) %></h2>
									<span><%= product.discount %> %OFF</span>
									<p><%= product.name %></p>
								</article>
							</a>
						</section>
					</div>

					<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit">ELIMINAR</button>
					</form>
					<% }) %>
			</div>
	</main>

	<!-- Footer -->
    <%- include('../partials/footer') %>

</body>
</html>